@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{ 
  var helpers = CreateInstance("../shared/_Helpers.cshtml");
  var benefitsHelpers = CreateInstance("_Helpers - Benefits.cshtml");
  var i = 0;
  var rowEven = "order-md-2";
  var rowOdd = "offset-xl-1";
}

<section class="app-landingpage-builder app-lp-image-zig-zag @Header.Presentation.TextOptimization @Header.Presentation.BackgroundColor"
    @Edit.TagToolbar(Header, toolbar: "settings&hover=left&autoAddMore=start")
    >
    @helpers.BackgroundDiv()
    <div class="container-fluid" @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
        @RenderPage("../shared/_Block.cshtml")
        
        @foreach (var data in AsList(Data)) {
            <div class="row no-gutters" @Edit.TagToolbar(data)>         
                <div class="col-12 col-md-6 col-xl-5 @(i++ % 2 == 0 ? rowEven : rowOdd)">
                    <div class="d-flex align-items-center h-100">
                        <div class="zig-zag-content">
                            @benefitsHelpers.Body(data)
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 zig-zag-image" style="@((Text.Has(data.Image)) ? "background-image:url('"+Tags.SafeUrl(data.Image)+"?w=2560&scale=both&quality=70')" : "")"></div>
            </div>
        }

        @helpers.HeaderCta(Header.CTA)
    </div>
</section>

@RenderPage("../shared/_Assets.cshtml")
