@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{ 
    var helpers = CreateInstance("../shared/_Helpers.cshtml");
    var coverHelpers = CreateInstance("_Helpers - Cover.cshtml");
}

<section class='app-landingpage-builder app-lp-cover @helpers.SectionClasses()'
    @helpers.SectionStyle()
    @Edit.TagToolbar(Header, toolbar: "settings&hover=left&autoAddMore=start&class=coverTagbar")
    >
    @helpers.BackgroundDiv()
    <div class="container-fluid d-flex align-items-center">
        @RenderPage("../shared/_Block.cshtml")
        <div class="row align-items-center w-100 mt-5" @Edit.TagToolbar(Content, toolbar: "settings&hover=left&autoAddMore=start") @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
            <div class="col-12 col-md-6 mb-5">
                @coverHelpers.Body()
                @helpers.CtaList(Content.CTA)
            </div>
            @helpers.VideoImageIconOrInnerContent(Content)
        </div>
        @helpers.HeaderCta(Header.CTA)
    </div>
</section>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,scripts,fancybox" })
