@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@RenderPage("./shared/_Assets.cshtml")
@{ var parts = CreateInstance("shared/_Parts.cshtml"); }

<section class="co-container-outer position-relative co-fact @Header.Presentation.TextOptimization @Header.Presentation.BackgroundColor @(Text.Has(Header.Presentation.BGImage) ? "co-backgroundimage" : "")" @parts.SectionStyle() @Edit.TagToolbar(Header, settings: new { hover = "left" })>
    @parts.BackgroundDiv()
    <div class="co-container-inner">
        @RenderPage("./shared/_Block.cshtml")

        @foreach (var fact in AsList(Data)) {    
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center mb-4" @Edit.TagToolbar(fact)>
                    @if (Text.Has(fact.Icon)) {
                        <i class="co-icon fas co-icon-center @fact.Icon" aria-hidden="true"></i>
                    }
                    @if (Text.Has(fact.MicroTitle)) {
                        <h5>@fact.MicroTitle</h5>
                    }
                    <h1>@fact.Title</h1>
                    <div class="co-text mb-4">
                        @Html.Raw(fact.Body)
                    </div>
                    @parts.CtaList(Content.CTA)
                </div>
            </div>
        }
        @parts.HeaderCta(Header.CTA)
    </div>
</section>


