@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@RenderPage("./shared/_Assets.cshtml")
@{ var parts = CreateInstance("shared/_Parts.cshtml"); }

<section class='co-container-outer @parts.SectionClasses("co-intro")'
    @parts.SectionStyle()
    @Edit.TagToolbar(Header, settings: new { hover = "left" })
    >
    @parts.BackgroundDiv()
    <div class="co-container-inner d-flex align-items-center sc-element">
        <div class="co-intro-wrapper" @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>

            @RenderPage("./shared/_Block.cshtml")
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-5" @Edit.TagToolbar(Content)>
                    @if (Text.Has(Content.MicroTitle)) {
                        <h5>@Content.MicroTitle</h5>
                    }
                    <h1 class="display-4">@Content.Title</h1>
                    <div class="co-text mb-5">
                        @Html.Raw(Content.Body)
                    </div>
                    @parts.CtaList(Content.CTA)
                </div>
                @parts.VideoImageIconOrInnerContent(Content)
            </div>
            @parts.HeaderCta(Header.CTA)
        </div>
    </div>
</section>