@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@RenderPage("./shared/_Assets.cshtml")

<section class="co-container-outer position-relative co-cta-standalone @Header.Presentation.TextOptimization @Header.Presentation.BackgroundColor @((Text.Has(Header.Presentation.BGImage)) ? "co-backgroundimage" : "") sc-element" style="@((Text.Has(Header.Presentation.BGImage)) ? "background-image:url('"+Header.Presentation.BGImage+"?w=2560&scale=both&quality=70')" : "")">
    @Edit.Toolbar(Header)
    <div class="co-backgroundimage-overlay @Header.Presentation.BGImageEffects"></div>
    <div class="co-container-inner d-flex align-items-center sc-element">
        <div class="co-cta-standalone-wrapper" style="width: 100%">
            <div class="row justify-content-center">            
                <div class="col-12 col-md-7 text-center mb-4 sc-element">
                    @Edit.Toolbar(Content)                    
                    @if (Text.Has(Content.Title)) {
                        <h2>@Content.Title</h2>
                    }
                    @if (Text.Has(Content.Body)) {
                        <div class="co-text mb-3">
                            @Html.Raw(Content.Body)
                        </div>
                    }
                    @if(Content.CTA.Count > 0) {
                        foreach (var cta in AsList(Content.CTA)) {
                            @RenderPage("./shared/_Cta.cshtml", new { cta = cta})
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>