@RenderPage("_sharedAssets.cshtml")

<div class="co-container-outer co-customer-logos @ListContent.Presentation.BackgroundColor @((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "co-backgroundimage" : "")" style="@((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "background-image:url('"+ListContent.Presentation.BGImage+"?w=2560&scale=both&quality=70')" : "")">
    <div class="co-container-inner">
        @RenderPage("_sharedBlock.cshtml")
        
        <div class="row">   
            @foreach (var customer in AsDynamic(Data["Default"]))
            {                
                <div class="col-12 col-md-3 mb-4">
                    <img class="img-fluid" src="@customer.Image" alt="@customer.Name">
                </div>
                <div class="col-12 col-md-3 mb-4 sc-element">
                    @Edit.Toolbar(customer)
                    <strong>@customer.Name</strong>
                    <div class="co-text mb-4">
                        @Html.Raw(customer.Body)
                    </div>
                </div>                
            }
        </div>
    </div>
</div>