@foreach (var customer in AsDynamic(Data["Default"]))
{
    @Edit.Toolbar(ListContent)
    <div class="sc-element">
        @Edit.Toolbar(Content)
        <strong>@customer.Name</strong>
        @Html.Raw(customer.Body)
        <img src="@customer.Image" alt="@customer.Name" />
    </div>
}