@RenderPage("_sharedAssets.cshtml", new { parts = "styles,scripts"})

<div class="co-container-outer position-relative co-customer-faces @ListContent.Presentation.TextOptimization @ListContent.Presentation.BackgroundColor @((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "co-backgroundimage" : "") sc-element" style="@((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "background-image:url('"+ListContent.Presentation.BGImage+"?w=2560&scale=both&quality=70')" : "")">
    @Edit.Toolbar(ListContent)
    <div class="co-backgroundimage-overlay @ListContent.Presentation.BGImageEffects"></div>
    <div class="co-container-inner">
        @RenderPage("_sharedBlock.cshtml")
        
        <div class="row mb-5 co-card justify-content-center">   
            @foreach (var customer in AsDynamic(Data["Default"]))
            {    

                <div class="col-12 col-sm-6 col-lg-4 mb-5 sc-element">
                         @Edit.Toolbar(customer)
                        <div class="card h-100 text-center">
                            <figure>
                              @if (!String.IsNullOrEmpty(customer.Image))
                                {
                                <img class="card-img-top rounded-circle" src="@customer.Image?w=400&amp;h=400&amp;scale=both&amp;mode=crop&amp;quality=70" alt="@customer.Name">
                                }
                                else
                                {
                                    <div class="co-person-placeholder"></div>
                                }
                            </figure>
                            <div class="card-body">
                               
                                <h6 class="card-title">@customer.Name</h6>
                                <div class="card-text">
                                    @Html.Raw(customer.Body)
                                </div>
                            </div>
                        </div>
                </div>     
            }
        </div>

        @RenderPage("_sharedButton.cshtml")
    </div>
</div>