@Edit.Toolbar(ListContent)
@ListContent.MicroTitle
@ListContent.Title
@Html.Raw(ListContent.Body)
<div class="sc-element">
    @Edit.Toolbar(Content)
    @Content.MicroTitle
    @Content.Title
    @Html.Raw(Content.Body)
</div>