@RenderPage("_sharedAssets.cshtml")

<div class="co-container-outer position-relative co-fact @ListContent.Presentation.TextOptimization @ListContent.Presentation.BackgroundColor @((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "co-backgroundimage" : "")" style="@((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "background-image:url('"+ListContent.Presentation.BGImage+"?w=2560&scale=both&quality=70')" : "")">
    <div class="co-backgroundimage-overlay @ListContent.Presentation.BGImageEffects"></div>
    <div class="co-container-inner">
        @RenderPage("_sharedBlock.cshtml")

        @foreach (var fact in AsDynamic(Data["Default"]))
        {    
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center mb-4 sc-element">
                @Edit.Toolbar(fact)
                <h5>@fact.MicroTitle</h5>
                <h1>@fact.Title</h1>
                <div class="co-text mb-4">
                    @Html.Raw(fact.Body)
                </div>
                <a href="#" class="btn btn-primary">CTA Button</a>
            </div>
        </div>
        }
    </div>
</div>


