@RenderPage("_sharedAssets.cshtml")

@Edit.Toolbar(ListContent)
@ListContent.MicroTitle
@ListContent.Title
@Html.Raw(ListContent.Body)

@{int i = 0;}
@foreach (var fact in AsDynamic(Data["Default"]))
{
    <div class="co-container-outer co-fact">
        <div class="co-container-inner">
            <div class="row">         
                @{var divOrderClass = "";}
                @if ((i % 2) != 0) {
                    divOrderClass = "order-md-2";
                }              
                
                <div class="col-12 col-md-6 mb-4 sc-element @divOrderClass">
                    @Edit.Toolbar(fact)
                    <h5>@fact.MicroTitle</h5>
                    <h1>@fact.Title</h1>
                    <div class="co-text mb-4">
                        @Html.Raw(fact.Body)
                    </div>
                    <a href="#" class="btn btn-primary">CTA Button</a>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid" src="@fact.Image" alt="@fact.Title">
                </div>
            </div>
        </div>
    </div>

    i++;
}