@RenderPage("_sharedAssets.cshtml")

@Edit.Toolbar(ListContent)
@ListContent.MicroTitle
@ListContent.Title
@Html.Raw(ListContent.Body)
@foreach (var fact in AsDynamic(Data["Default"]))
{
    <div class="co-container-outer co-fact">
        <div class="co-container-inner">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center mb-4 sc-element">
                    @Edit.Toolbar(fact)
                    <h5>@fact.MicroTitle</h5>
                    <h1>@fact.Title</h1>
                    <div class="co-text mb-4">
                        @Html.Raw(fact.Body)
                    </div>
                    <a href="#" class="btn btn-primary">CTA Button</a>
                </div>
            </div>
        </div>
    </div>
}

