@Edit.Toolbar(ListContent)
@ListContent.MicroTitle
@ListContent.Title
@Html.Raw(ListContent.Body)
@foreach (var fact in AsDynamic(Data["Default"]))
{
    <div class="sc-element">
        @Edit.Toolbar(fact)
        @fact.MicroTitle
        @fact.Title        
        @Html.Raw(fact.Body)
    </div>
}