@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@RenderPage("./shared/_Assets.cshtml")
@{ var parts = CreateInstance("shared/_Parts.cshtml"); }

<section class="co-container-outer position-relative co-image-zig-zag @Header.Presentation.TextOptimization @Header.Presentation.BackgroundColor" @Edit.TagToolbar(Header)>
    <div class="co-backgroundimage-overlay @Header.Presentation.BGImageEffects"></div>
    <div class="co-container-inner">
        @RenderPage("./shared/_Block.cshtml")
        
        @{int i = 0;}
        @foreach (var data in AsList(Data["Default"])) {
        <div class="row no-gutters" @Edit.TagToolbar(data)>         
            <div class="col-12 col-md-6 col-lg-5 @((i % 2) == 0 ? "order-md-2" : "")">
                <div class="d-flex align-items-center h-100">
                    <div class="co-zig-zag-content">
                    @if (Text.Has(data.MicroTitle)) {
                        <h5>@data.MicroTitle</h5>
                    }
                    <h3>@data.Title</h3>
                    <div class="co-text mb-4">
                        @Html.Raw(data.Body)
                    </div>
                    <div class="co-list">
                        @Html.Raw(data.List)
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 co-zig-zag-image @((i % 2) != 0 ? "offset-lg-1" : "")" style="@((Text.Has(data.Image)) ? "background-image:url('"+data.Image+"?w=2560&scale=both&quality=70')" : "")"></div>
        </div>
        i++;
        }

        @parts.HeaderCta(Header.CTA)
    </div>
</section>