@RenderPage("_sharedAssets.cshtml", new { parts = "styles,scripts"})

<section class="co-container-outer position-relative co-image-zig-zag @ListContent.Presentation.TextOptimization @ListContent.Presentation.BackgroundColor sc-element">
    @Edit.Toolbar(ListContent)
    <div class="co-backgroundimage-overlay @ListContent.Presentation.BGImageEffects"></div>
    <div class="co-container-inner">
        @RenderPage("_sharedBlock.cshtml")
        
        @{int i = 0;}
        @foreach (var data in AsDynamic(Data["Default"]))
        {
        <div class="row no-gutters">         
            <div class="col-12 col-md-6 sc-element @((i % 2) == 0 ? "order-md-2" : "")">
                <div class="d-flex align-items-center h-100">
                    <div class="co-zig-zag-content">
                    @Edit.Toolbar(data)
                    @if (!String.IsNullOrEmpty(@data.MicroTitle))
                    {
                        <h5>@data.MicroTitle</h5>
                    }
                    <h3>@data.Title</h3>
                    <div class="co-text mb-4">
                        @Html.Raw(data.Body)
                    </div>
                    <div class="co-list">
                        @Html.Raw(data.List)
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 co-zig-zag-image" style="@((!String.IsNullOrEmpty(data.Image)) ? "background-image:url('"+data.Image+"?w=2560&scale=both&quality=70')" : "")"></div>
        </div>
        i++;
        }

        @RenderPage("_sharedButton.cshtml")
    </div>
</section>