@Edit.Toolbar(ListContent)
@ListContent.MicroTitle
@ListContent.Title
@Html.Raw(ListContent.Body)
<div class="co-container-outer co-intro">
    <div class="co-container-inner sc-element">
        <div class="row justify-content-center">
            @Edit.Toolbar(Content)
            <div class="col-12 col-md-8 text-center mb-4">
                <h5>@Content.MicroTitle</h5>
                <h1>@Content.Title</h1>
                <div class="co-text mb-4">
                    @Html.Raw(Content.Body)
                </div>
                <a href="#" class="btn btn-primary">CTA Button</a>
            </div>
        </div>
    </div>
</div>