@RenderPage("./shared/_Assets.cshtml")

<section class="co-container-outer position-relative co-intro @ListContent.Presentation.TextOptimization @ListContent.Presentation.BackgroundColor @((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "co-backgroundimage" : "") sc-element" style="@((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "background-image:url('"+ListContent.Presentation.BGImage+"?w=2560&scale=both&quality=70')" : "")">
    @Edit.Toolbar(ListContent)
    <div class="co-backgroundimage-overlay @ListContent.Presentation.BGImageEffects"></div>
    <div class="co-container-inner d-flex align-items-center sc-element">
        <div class="co-intro-wrapper">

            @RenderPage("./shared/_Block.cshtml")
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-5 sc-element">
                    @Edit.Toolbar(Content)  
                    @if (!String.IsNullOrEmpty(@Content.MicroTitle))
                    {
                        <h5>@Content.MicroTitle</h5>
                    }
                    <h1 class="display-4">@Content.Title</h1>
                    <div class="co-text mb-5">
                        @Html.Raw(Content.Body)
                    </div>
                    @if(Content.CTA.Count > 0)
                    {
                        foreach (var cta in AsDynamic(Content.CTA)) {
                            @RenderPage("./shared/_Cta.cshtml", new { cta = cta})
                        }
                    }
                </div>
                <div class="col-12 col-md-6 mb-4">
                    @if (!String.IsNullOrEmpty(@Content.Image))
                    {
                        <img class="img-fluid" src="@Content.Image?w=1050&amp;scale=both&amp;mode=max" alt="@Content.Title">
                    }
                </div>
            </div>
            @RenderPage("./shared/_ButtonList.cshtml")
        </div>
    </div>
</section>