@RenderPage("_sharedAssets.cshtml")

<div class="co-container-outer position-relative co-intro @ListContent.Presentation.TextOptimization @ListContent.Presentation.BackgroundColor @((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "co-backgroundimage" : "")" style="@((!String.IsNullOrEmpty(ListContent.Presentation.BGImage)) ? "background-image:url('"+ListContent.Presentation.BGImage+"?w=2560&scale=both&quality=70')" : "")">
    <div class="co-backgroundimage-overlay @ListContent.Presentation.BGImageEffects"></div>
    <div class="co-container-inner sc-element">
        @RenderPage("_sharedBlock.cshtml")

        <div class="row">
            <div class="col-12 col-md-6 order-md-2 mb-4 sc-element">
                @Edit.Toolbar(Content)
                <h5>@Content.MicroTitle</h5>
                <h1>@Content.Title</h1>
                <div class="co-text mb-4">
                    @Html.Raw(Content.Body)
                </div>
                <a href="#" class="btn btn-primary">CTA Button</a>
            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid" src="@Content.Image" alt="@Content.Title">
            </div>
        </div>
    </div>
</div>
        