@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@RenderPage("./shared/_Assets.cshtml")
@{ var parts = CreateInstance("shared/_Parts.cshtml"); }

<section class='co-container-outer @parts.SectionClasses("co-customer-logos")'
    @parts.SectionStyle()
    @Edit.TagToolbar(Header, settings: new { hover = "left" })
    >
    @parts.BackgroundDiv()
    <div class="co-container-inner" @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
        @RenderPage("./shared/_Block.cshtml")
        <div class="row justify-content-center">   
            @foreach (var customer in AsList(Data)) {    
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-4">
                    <div class="h-100 text-center align-items-center" @Edit.TagToolbar(customer)>
                        <figure>
                        @if (Text.Has(customer.Image)) {
                            <img class="img-fluid" src="@customer.Image?w=400&amp;scale=both&amp;mode=max&amp;quality=70" alt="@customer.Name">
                        }
                        </figure>
                    </div>
                </div>     
            }
        </div>
        @parts.HeaderCta(Header.CTA)
    </div>
</section>