@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{ var helpers = CreateInstance("../shared/_Helpers.cshtml"); }

<section class='app-landingpage-builder co-cta-standalone @helpers.SectionClasses()'
    @helpers.SectionStyle()
    @Edit.TagToolbar(Header, toolbar: "settings&hover=left&autoAddMore=start")
    >
    @helpers.BackgroundDiv()
    <div class="co-container-inner d-flex align-items-center" @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
        <div class="co-cta-standalone-wrapper" style="width: 100%">
            <div class="row justify-content-center">            
                <div class="col-12 col-md-8 text-center mb-4" @Edit.TagToolbar(Content)>
                    @if (Text.Has(Content.Title)) {
                        <h1>@Content.Title</h1>
                    }
                    @if (Text.Has(Content.Body)) {
                        <div class="co-text mb-3">
                            @Html.Raw(Content.Body)
                        </div>
                    }
                    @helpers.CtaList(Content.CTA)
                </div>
            </div>
        </div>
    </div>
</section>

@RenderPage("../shared/_Assets.cshtml")
