@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@RenderPage("../shared/_Assets.cshtml")
@{ var parts = CreateInstance("../shared/_Parts.cshtml"); }

<section class='co-container-outer @parts.SectionClasses("co-cta-standalone")'
    @parts.SectionStyle()
    @Edit.TagToolbar(Header, toolbar: new [] { "settings&hover=left&autoAddMore=start" })
    >
    @parts.BackgroundDiv()
    <div class="co-container-inner d-flex align-items-center" @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
        <div class="co-cta-standalone-wrapper" style="width: 100%">
            <div class="row justify-content-center">            
                <div class="col-12 col-md-8 text-center mb-4" @Edit.TagToolbar(Content)>
                    @if (Text.Has(Content.Title)) {
                        <h1>@Content.Title</h1>
                    }
                    @if (Text.Has(Content.Body)) {
                        <div class="co-text mb-3">
                            @Html.Raw(Content.Body)
                        </div>
                    }
                    @parts.CtaList(Content.CTA)
                </div>
            </div>
        </div>
    </div>
</section>