@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{ var helpers = CreateInstance("../shared/_Helpers.cshtml"); }

<section class='app-landingpage-builder app-lp-cover @helpers.SectionClasses()'
    @helpers.SectionStyle()
    @Edit.TagToolbar(Header, toolbar: "settings&hover=left&autoAddMore=start&class=coverTagbar" )
    >
    @helpers.BackgroundDiv()
    <div class="container-fluid">
        @RenderPage("../shared/_Block.cshtml")
        <div class="row align-items-center mt-5" @Edit.TagToolbar(Content, toolbar: "settings&hover=left&autoAddMore=start") @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
            <div class="col-12 col-md-6 mb-5">
                @if (Text.Has(Content.MicroTitle)) {
                    <h5>@Content.MicroTitle</h5>
                }
                <h1 class="display-4">@Content.Title</h1>
                <div class="co-text mb-5">
                    @Html.Raw(Content.Body)
                </div>
                @helpers.CtaList(Content.CTA)
            </div>
            @helpers.VideoImageIconOrInnerContent(Content)
        </div>
        @helpers.HeaderCta(Header.CTA)
    </div>
</section>

@RenderPage("../shared/_Assets.cshtml")
