@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{ var helpers = CreateInstance("../shared/_Helpers.cshtml"); }

<section class='app-landingpage-builder app-lp-benefits @helpers.SectionClasses()'
    @helpers.SectionStyle()
    @Edit.TagToolbar(Header, toolbar: "settings&hover=left&autoAddMore=start")
    >
    @helpers.BackgroundDiv()
    <div class="container-fluid" @Edit.Attribute("quick-edit-config", new { modules = new { enable = true }})>
        @RenderPage("../shared/_Block.cshtml")

        @foreach (var data in AsList(Data)) {    
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center mb-4" @Edit.TagToolbar(data)>
                    @if (Text.Has(data.Icon)) {
                        <i class="content-icon fas content-icon-center @data.Icon" aria-hidden="true"></i>
                    }
                    @if (Text.Has(data.MicroTitle)) {
                        <h5>@data.MicroTitle</h5>
                    }
                    <h3>@data.Title</h3>
                    <div class="content-body mb-4">
                        @Html.Raw(data.Body)
                    </div>
                    @helpers.CtaList(data.CTA)
                </div>
            </div>
            <div class="row justify-content-center">            
                @helpers.VideoImageIconOrInnerContent(data)
            </div>
        }
        @helpers.HeaderCta(Header.CTA)
    </div>
</section>

@RenderPage("../shared/_Assets.cshtml")
